.App{
  display:grid;
  grid-templates-row:auto auto;
  grid-gap:40px
}

input.search {
   border:1px solid #ebebeb;
  border-radius:10px;
  padding:8px 20px;
  margin:30px ;
}
ul li{
  display:block
}